rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Users can read their own user profile
    match /users/{userId} {
      allow read: if request.auth.uid == userId;
      allow create; // Allow user creation during registration
    }

    // A user can read, create, update, and delete their own projects
    match /projects/{projectId} {
      allow read, update, delete: if request.auth.uid == resource.data.userId;
      allow list: if request.auth.uid != null && request.auth.uid == request.query.where.userId;
      allow create: if request.auth.uid != null;
    }
  }
}